
        <h2 class="text-center">Save a new book</h2>
        <form class="pt-4" [formGroup]="bookForm" (ngSubmit)="onSaveBook()">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-1 col-form-label">Title</label>
                <div class="col-sm-11">
                    <input type="text" id="title" class="form-control" formControlName="title">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-1 col-form-label">Author</label>
                <div class="col-sm-11">
                    <input type="text" id="author" class="form-control" formControlName="author">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-1 col-form-label">Synopsis</label>
                <div class="col-sm-11">
                    <textarea id="synopsis" class="form-control" formControlName="synopsis"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="staticEmail" class="col-sm-1 col-form-label"> image</label>
                <div class="col-sm-11">
                    <input type="file" (change)="detectFiles($event)" class="form-control" accept="image/*">
                </div>
                <p class="text-success" *ngIf="fileUploaded">File saved !</p>
            </div>

            <button class="btn btn-dark btn-block" [disabled]="bookForm.invalid || fileIsUploading" type="submit">
                Save
            </button>

        </form>
   