<!-- Header -->
<header class="bg-light text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-dark">About me</h1>
  </div>
</header>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img
          src="https://media-exp1.licdn.com/dms/image/C5603AQFqmZS9VaGhvg/profile-displayphoto-shrink_200_200/0?e=1588809600&v=beta&t=7PFbSbzoDsjO_GFr_kcCAuMx_i4D1ddGQDvZsMhARHA"
          class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Nathan Msika</h5>
          <div class="card-text text-black-50 mb-2">Software Developer</div>
          <a class="btn btn-primary mr-3" target="_blank" href="https://www.linkedin.com/in/nathan-msika-5a1329164/" >Linkedin</a>
          <a class="btn btn-secondary" target="_blank"href="https://www.github.com/nathmsi">GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>