<header class="bg-light text-center py-5 mb-4">
    <div class="container">
        <h1 class="font-weight-light text-dark"> Local Storage</h1>
    </div>
</header>



<div class="text-center" *ngIf="!dataReceive">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="text-center" *ngIf="films.length === 0">
    <h3>0 Film Liked</h3>
</div>

<div *ngFor="let film of films; let i = index">
    <app-film-view [film]="film"></app-film-view>
</div>