<header class="bg-light text-center py-5 mb-4">
    <div class="container">
        <h1 class="font-weight-light text-dark"> Film API</h1>
    </div>
</header>



<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group row">
        <div class="col-sm-8">
            <input type="text" id="name" class="form-control" placeholder="Enter film" name="film"
                [ngModel]="filmSearch" (keydown)="onKeydown($event,f)" required>
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-outline-dark btn-block" [disabled]="f.invalid">Search</button>
        </div>
    </div>
</form>

<div class="text-center" *ngIf="!dataReceive">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>



<div *ngFor="let film of films; let i = index">
    <app-film-view [film]="film"></app-film-view>
</div>