<header class="bg-light text-center py-5 mb-4">
    <div class="container">
        <h1 class="font-weight-light text-dark">Welcome</h1>
    </div>
</header>

<div class="container">
    <div class="row justify-content-center">
        

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body text-center">
                    <a class="nav-link" routerLink="books" >Books </a>
                    <div class="card-text text-black-50 mb-2">Library of book </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body text-center">
                    <a class="nav-link" routerLink="films"  >Films </a>
                    <div class="card-text text-black-50 mb-2">List films to search</div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body text-center">
                    <a class="nav-link" routerLink="about">About </a>
                    <div class="card-text text-black-50 mb-2">About me</div>
                </div>
            </div>
        </div>

    </div>
</div>